body {
    background-color: #212F3C;
    margin: 0;
    color: white;
    font-family: arial narrow;
    text-align: justify;
}

h1 {
    color: lightcyan;
}

h1#n { /*H1 do titulo*/
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}

div#esqd { /*Div do espaçamento esquerdo*/
    position: fixed;
    min-width: 10%;
    height: 100vh;
    background-color: #212F3C;
}

div#dirt { /*Div do espaçamento direito*/
    right: 0;
    position: fixed;
    min-width: 10%;
    height: 100vh;
    background-color: #212F3C;

}

div#mid { /*Div do conteudo*/
    position: absolute;
    width: 80%;
    min-height: 100vh;
    background-color: #212F3C;
    left: 10%;
}

table {
    margin: auto;
    padding-bottom: 80px;
}

td {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.1s;
}

a:hover {
    font-weight: bold;
}

li {
    margin-left: -15px;
}
